mixin blog(post, i)
    div.blog.jumbotron
        h1= post.title
        p.muted= new Date(post.date).toDateString()
        != post.body
        if post.images > 0
            ul.image-container
                each _, j in Array(post.images)
                    li
                        img(src=`/blog/${blogs.length - i}/${j}.jpg`)
        if post.authors && Object.values(post.authors).length > 0
            p.muted= 'Written by ' + Object.values(post.authors).join(', ')
        if post.editors && Object.values(post.editors).length > 0
            p.muted= 'Edited by ' + Object.values(post.editors).join(', ')

doctype html
html
    include /includes/head.pug
    body
        include /includes/navbar.pug
        div#content
            -
                blogs = Object.values(blogs).sort((a, b) => {
                    let stickiness = (b.priority || 0) - (a.priority || 0);
                    if (stickiness === 0)
                        stickiness = b.date - a.date;
                    return stickiness;
                })
            each post, i in blogs
                +blog(post, i)
        include /includes/foot.pug